@tailwind base;
@tailwind components;
@tailwind utilities;





body {
 background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif; 
  color: white;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

h1{
  font-family: var(--font-luckiest-guy), cursive;
}